<!-- Here we are creating a form contain 3 input and 1 submit button -->
<!--  -->
<form #formData="ngForm" (submit)="addData(formData)">  <!-- onSubmit it will call add data method -->
  <input type="text" name="name" ngModel><br><!-- Don't forget to add 'ngModel' here, without you will get an empty object -->
  <input type="email" name="email" ngModel><br>
  <input type="password" name="password" ngModel><br>
  <button type="submit">Submit Data</button><!-- Submit button will be used to submit all the data and add using 'addData()' method -->

</form>

<br><!-- This button will be used to getData from 'fireBase' -->
<button (click)="getData()" >getData</button><br>

<!-- list will show the data we got threw above button as well as it will show update and delete button along with everydata-->
<ul>
  <!-- Type 'Observable<any>' is not assignable to type 'NgIterable<any> so we added async here -->
  <li *ngFor="let data of userData | async">
    {{ data.name }} / {{ data.email }}
    <!-- This button will update data with the help of 'id' which was created by database -->
    <button (click)="updateData(data.id)">Update</button>
    <button (click)="deleteData(data.id)">Delete</button><!-- This button will call delete method to delete current data(object) by 'id' -->
  </li>
</ul>